node_modules
dist
.DS_Store
node_modules/@rolldown/binding-win32-x64-msvc/rolldown-binding.win32-x64-msvc.node
node_modules/@rolldown/binding-win32-x64-msvc/rolldown-binding.win32-x64-msvc.node
*.node
*.node
